body {
    background: #000;
    color: #11c51d;
    margin: 0;
  }
  .wrapper {
  }
  .number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
  }
  .number h1 { 
    font-size:25vw;
    text-align: center;
    margin: 0;
  }
  .controllers {
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    height: 40px;
    background: #333;
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .controllers button {
    padding: 10px;
    border: 1px solid #000;
    color: white;
    background: #111;
    margin-right: 20px;
  }
  .controllers input {
    padding: 10px;
    border: 1px solid #000;
    color: black;
    background: #ccc;
  }

  .controllers button:last-child {
    margin-right: 0;
  }
  button#start{
    background: green;
  }
  button#stop{
    background: red;          
  }
  button#clear{
    
  }
  button#set{
    background: #242;
  }
